.menu {
  --gap: var(--size-600);
  --border-size: 2px;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: 100%;
  margin-inline: var(--size-900);
}

.menu::before,
.menu::after,
.menu__header::after {
  background-color: var(--primary-200);
  content: '';
  display: block;
  height: 100%;
  left: var(--size-300);
  position: absolute;
  top: 0;
  width: var(--border-size);
}

.menu::after {
  left: var(--size-600);
}

.menu__header::after {
  content: '\0000a0';
  left: 0;
  height: var(--border-size);
  width: 100%;
  top: auto;
}

.menu__title {
  font-weight: normal;
  width: min-content;
  letter-spacing: 2px;
  line-height: 1;
}

.menu__title,
.menu__subtitle {
  margin-block: var(--gap);
}

.menu__subtitle {
  color: var(--gray-200);
  font-size: var(--size-400);
}

.menu__options {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.menu__option {
  --border-color: var(--primary-100);

  background-color: var(--bg-color);
  border: var(--border-size) solid currentColor;
  color: var(--primary-100);
  cursor: pointer;
  padding: var(--size-500);
  text-align: start;
  width: 100%;
}

.menu__option--secondary {
  --border-color: var(--gray-200);

  border-color: currentColor;
  color: var(--gray-200);
}
