.menu {
  --gap: var(--size-600);
  height: 100%;
}

.menu__title {
  font-weight: normal;
  width: min-content;
  letter-spacing: 2px;
  line-height: 1;
}

.menu__subtitle {
  color: var(--gray-200);
  font-size: var(--size-400);
}

.menu__title,
.menu__subtitle {
  margin-block-end: var(--gap);
}

.menu,
.menu__options {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
