.app {
  align-items: start;
  display: grid;
  grid-template:
    'timer buffer'
    'matrix sequences';
  margin: var(--size-700);
  gap: var(--size-500);
}

.app__timer {
  grid-area: timer;
}

.app__buffer {
  grid-area: buffer;
}

.app__matrix {
  grid-area: matrix;
}

.app__sequences {
  grid-area: sequences;
}