:root {
  --primary-100: #d0ec58;
  --primary-200: #3a3f26;
  --primary-300: #27291a;

  --secondary-100: #17a4cf;
  --secondary-200: #4bbde0;
  --secondary-300: #274650;

  --gray-100: #e4dfe8;
  --gray-200: #aaa;
  --gray-300: #222434;
  --gray-400: #202131;
  --gray-500: #130f1a;

  --green: #42be72;
  --red: #ea5954;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 2.75rem;


  --bg-color: var(--gray-500);

  background-color: var(--bg-color);
  color: var(--primary-100);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  text-transform: uppercase;
  word-spacing: .5ch;
}

.cut-border {
  --border-color: var(--primary-100);

  border: 1px solid var(--border-color);
  clip-path: polygon(var(--size-400) 0%, 100% 0, 100% 100%, 0 100%, 0% var(--size-400));
  position: relative;
}

.cut-border::before {
  border-style: solid;
  border-width: var(--size-400) var(--size-400) 0 0;
  border-color: var(--border-color) transparent;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}