.matrix {
  --border-color: var(--primary-100);

  border: 1px solid var(--primary-100);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.matrix__header {
  background-color: var(--primary-100);
  color: var(--gray-300);
  padding: var(--size-100) var(--size-500);
}

.matrix__cells {
  display: grid;
  grid-template-columns: repeat(var(--matrix-size), var(--matrix-cell-size));
  margin: auto;
  padding: var(--size-200);
}

.matrix__cell {
  align-items: center;
  color: var(--primary-100);
  display: flex;
  height: var(--matrix-cell-size);
  justify-content: center;
  width: var(--matrix-cell-size);
}

.matrix__cell--query {
  outline: 1px solid var(--primary-100);
  outline-offset: -4px;
}

.matrix__cell--highlight:not(.matrix__cell--selected) {
  animation: glow 1s infinite;
  box-shadow:
    0 0 10px 5px var(--secondary-300),
    inset 0 0 0 1px var(--secondary-200),
    inset 0 0 0 3px var(--bg-color),
    inset 0 0 0 4px var(--secondary-200);
  color: var(--secondary-200);
}

.matrix__cell--selected {
  animation: unglow .5s forwards;
  color: var(--gray-200);
}

.matrix__cell:hover::after,
.matrix__cell--scope::before {
  background-color: var(--gray-300);
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: -2;
}

.matrix__cell:hover::after {
  background-color: var(--primary-200);
  opacity: 0.6;
  z-index: -1;
}

.matrix__scope-horizontal .matrix__cell:hover::after,
.matrix__scope-vertical .matrix__cell--scope::before {
  bottom: 0;
  top: 0;
  width: var(--matrix-cell-size);
}

.matrix__scope-vertical .matrix__cell:hover::after,
.matrix__scope-horizontal .matrix__cell--scope::before {
  height: var(--matrix-cell-size);
  left: 0;
  right: 0;
}

@keyframes glow {
  50% {
    box-shadow:
      0 0 12px 8px var(--secondary-300),
      inset 0 0 0 1px var(--secondary-200),
      inset 0 0 0 3px var(--bg-color),
      inset 0 0 0 4px var(--secondary-200);
  }
}

@keyframes unglow {
  0% {
    box-shadow:
      inset 0 0 0 1px var(--secondary-200),
      inset 0 0 0 3px var(--bg-color),
      inset 0 0 0 4px var(--secondary-200),
      inset 0 0 0 var(--matrix-cell-size) var(--secondary-200);
    color: transparent;
  }

  50% {
    color: transparent;
  }

  100% {
    box-shadow: none;
  }
}