.sequences {
  color: var(--gray-200);
}

.sequences__list {
  display: grid;
  gap: var(--size-300);
  list-style: none;
  padding-block: var(--size-200);
  padding-inline: var(--size-400);
  position: relative;
}

.sequences__item {
  --cell-size: var(--size-500);

  align-items: center;
  display: grid;
  gap: var(--size-200);
  grid-template-columns: repeat(var(--sequences-size), var(--cell-size));
  grid-auto-flow: column;
}

.sequences__details {
  display: grid;
  line-height: var(--size-400);
  grid-column: calc(var(--sequences-size) + 1);
  width: fit-content;
}

.sequences__value {
  color: var(--primary-300);
  text-transform: lowercase;
}

.sequences__cell {
  align-content: center;
  display: inline-grid;
  height: var(--cell-size);
  width: var(--cell-size);
}

.sequences__cell:hover {
  color: var(--primary-300);
  outline: 1px solid var(--primary-300);
  outline-offset: -1px;
}

.sequences__cell--highlight {
  box-shadow: 0 0 6px 2px var(--secondary-600);
  color: var(--secondary-600);
}

.sequences__cell--selected {
  color: var(--primary-300);
}

.sequences__cell--cursor::before {
  content: '';
  position: absolute;
  background: var(--gray-400);
  top: 0;
  width: var(--cell-size);
  height: 100%;
  z-index: -1;
}



