.sequences {
  --border-color: var(--primary-100);

  border: 1px solid var(--primary-100);
  color: var(--gray-100);
}

.sequences__header {
  color: var(--primary-100);
  padding: var(--size-100) var(--size-500);
  border-bottom: 1px solid var(--border-color);
}

.sequences__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: var(--size-200);
  position: relative;
}

.sequences__cursor > * {
  grid-column-start: calc(var(--sequences-cursor));
}

.sequences__cursor > *::before {
  background: var(--gray-400);
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: var(--buffer-content-size);
  margin: 0 calc((var(--buffer-cell-size) - var(--buffer-content-size)) / 2);
  z-index: -1;
}

.sequences__cursor,
.sequences__item {
  align-items: center;
  background: transparent;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--sequences-size), var(--buffer-cell-size));
}

.sequences__item {
  font-size: var(--size-400);
  position: relative;
}

.sequences__details {
  display: flex;
  flex-direction: column;
  font-size: var(--size-300);
  grid-column: calc(var(--sequences-size) + 2);
  line-height: var(--size-500);
  padding: var(--size-100);
  width: fit-content;
}

.sequences__value {
  color: var(--primary-100);
  text-transform: lowercase;
}

.sequences__cell {
  height: 100%;
}

.sequences__cell--selected {
  color: var(--primary-100);
}

.sequences__status {
  align-items: center;
  display: flex;
  padding: var(--size-100);
  position: absolute;
}

.sequences__status,
.sequences__status ~ * * {
  color: var(--bg-color);
  transition: color 250ms;
}

.sequences__item--success::before {
  background-color: var(--green);
}

.sequences__item--fail::before {
  background-color: var(--red);
}

.sequences__item--fail::before,
.sequences__item--success::before {
  animation: rollIn 250ms forwards ease-in-out;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes rollIn {
  0% { transform: translateY(-75%);}
  100% { transform: translateY(-5%);}
}
