.sequences {
  color: var(--gray-100);
}

.sequences__header {
  color: var(--primary-100);
  padding: var(--size-100) var(--size-400);
  border-bottom: 1px solid var(--border-color);
}

.sequences__list {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  list-style: none;
  padding: var(--size-200);
  position: relative;
}

.sequences__cursor > * {
  grid-column-start: calc(var(--sequences-cursor));
}

.sequences__cursor > *::before {
  background: var(--gray-400);
  width: var(--buffer-cell-size);
  height: 100%;
  content: '';
  top: 0;
  position: absolute;
  z-index: -1;
}

.sequences__cursor,
.sequences__item {
  align-items: center;
  display: grid;
  gap: var(--size-200);
  grid-template-columns: repeat(var(--sequences-size), var(--buffer-cell-size));
  grid-auto-flow: column;
}

.sequences__item {
  font-size: var(--size-300);
  position: relative;
}

.sequences__details {
  display: flex;
  flex-direction: column;
  line-height: var(--size-400);
  grid-column: calc(var(--sequences-size) + 1);
  padding: var(--size-100);
  width: fit-content;
}

.sequences__value {
  color: var(--primary-100);
  text-transform: lowercase;
}

.sequences__cell {
  align-items: center;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  height: var(--buffer-cell-size);
  width: var(--buffer-cell-size);
}

.sequences__cell--highlight {
  box-shadow: 0 0 6px 2px var(--secondary-200);
  color: var(--secondary-200);
}

.sequences__cell--selected {
  animation: selection 500ms ease-in-out;
  border-color: currentColor;
  color: var(--primary-100);
}

.sequences__status {
  align-items: center;
  display: flex;
  padding: var(--size-100);
  position: absolute;
}

.sequences__status,
.sequences__status ~ * * {
  color: var(--bg-color);
}

.sequences__item--success::before {
  background-color: var(--green);
}

.sequences__item--fail::before {
  background-color: var(--red);
}

.sequences__item--fail::before,
.sequences__item--success::before {
  animation: rollIn 250ms forwards ease-in-out;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}


@keyframes rollIn {
  0% { transform: translateY(-75%);}
  100% { transform: translateY(0%);}
}


