.exit {
  aspect-ratio: 1;
  border: 1px solid currentColor;
  color: var(--primary-100);
  cursor: pointer;
  height: calc(var(--buffer-cell-size) + (var(--size-200) * 2) + 2px);
  padding-inline: var(--size-200);
  place-self: end;
}
