*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  color: inherit;
  font: inherit;
  text-transform: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

button {
  background: inherit;
  border: 0;
  padding: 0;
}

:root {
  --primary-300: #d0ec58;
  --primary-600: #3a3f26;
  --primary-900: #27291a;

  --secondary-300: #17a4cf;
  --secondary-600: #4bbde0;
  --secondary-900: #274650;

  --gray-100: #aaa;
  --gray-200: #e4dfe8;
  --gray-300: #222434;
  --gray-400: #292a32;
  --gray-600: #18172c;
  --gray-900: #130f1a;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 2.75rem;
}

body {
  --bg-color: var(--gray-900);
  --text-color: var(--light-300);

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  word-spacing: .75ch;
}

#root {
  display: grid;
}

.card {
  border: 1px solid var(--primary-300);
  clip-path: polygon(
    var(--size-400) 0%,
    100% 0,
    100% 100%,
    0 100%,
    0% var(--size-400)
  );
  position: relative;
}

.card__header {
  background-color: var(--primary-300);
  border-bottom: 1px solid var(--primary-300);
  color: var(--gray-300);
  font-size: var(--size-300);
  padding-block: var(--size-100);
  padding-inline: var(--size-400);
}

.card__header--secondary {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--primary-300);
  color: var(--primary-300);
}

.card__header--secondary::before {
  border-style: solid;
  border-width: var(--size-400) var(--size-400) 0 0;
  border-color: var(--primary-300) transparent;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}
